In [138]:
from bs4 import BeautifulSoup
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [139]:
executable_path = {'executable_path' : ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [C:\Users\ricks\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [140]:
news_url="https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&year=2021%3Apublish_date&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(news_url)

In [141]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [142]:
latest_news = soup.find_all('div', {'class' : 'content_title'})
news_title = latest_news[1].text
print(news_title)

Touchdown! NASA's Mars Perseverance Rover Safely Lands on Red Planet

In [143]:
latest_teaser = soup.find_all('div', {'class' : 'article_teaser_body'})
news_p = latest_teaser[0].text
print(news_p)

The agency’s latest and most complex mission to the Red Planet has touched down at Jezero Crater. Now it’s time to begin testing the health of the rover.

In [144]:
image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(image_url)

In [145]:
html = browser.html
soup=BeautifulSoup(html, 'html.parser')

In [146]:
image_soup = soup.find_all('a', class_='showimg')

picture = image_soup[0]['href']

featured_image_url = url.replace('index.html', picture)
print(featured_image_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg

In [147]:
fact_url = 'https://space-facts.com/mars/'
tables = pd.read_html(fact_url)
fact_df = tables[0]
fact_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [148]:
mars_fact_df = fact_df.rename(columns = {0 : 'Aspect', 1 : 'Measurement'})
mars_fact_df

                 Aspect                    Measurement
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [149]:
mars_table_str = mars_fact_df.to_html()
mars_table_str

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Aspect</th>\n      <th>Measurement</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [150]:
hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemi_url)

In [151]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [171]:
hemi_soup = soup.find_all('div', {'class' : 'description'})

hemi_titles = []

for item in hemi_soup:
    wrong_name = item.text.split('/')
    title = wrong_name[0].replace(' Enhancedimage', '')
    hemi_titles.append(title)

print(hemi_titles)

['Cerberus Hemisphere', 'Schiaparelli Hemisphere', 'Syrtis Major Hemisphere', 'Valles Marineris Hemisphere']

In [179]:
base_url  = 'https://astrogeology.usgs.gov'
hemi_images = []

In [172]:
cerb_url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
browser.visit(cerb_url)

In [173]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [180]:
cerb_soup = soup.find('img', {'class' : 'wide-image'})
hemi_images.append(base_url + cerb_soup['src'])
hemi_images

['https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg']

In [181]:
schia_url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'
browser.visit(schia_url)

In [182]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [183]:
schia_soup = soup.find('img', {'class' : 'wide-image'})
hemi_images.append(base_url + schia_soup['src'])
hemi_images

['https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg']

In [ ]:
major_url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'
browser.visit(schia_url)